@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
body .title {
  font-family: "Archivo Black";
}
body nav {
  background-color: #fff;
  mask: linear-gradient(180deg, white 70%, white 10%, transparent, transparent);
}
body nav ul {
  gap: 10px;
}
body nav ul li {
  padding: 5px 20px;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 2px solid transparent;
  color: #222222;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
body nav ul li:hover {
  color: #fff;
  background-color: #ff3562;
  border-color: #222222;
}
body .hero p {
  font-weight: 200;
}
body .hero p span {
  color: #ff3562;
}
body .hero h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 800;
}
body #about {
  font-family: poppins;
}
body #about h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 800;
}
body #about .bio {
  border: 2px solid #222222;
}
body #about .btn {
  background-color: #222222;
  color: #fff;
  font-family: "Archivo Black";
  width: 150px;
  height: 50px;
  transition: 0.2s;
}
body #about .btn img {
  transform: translateX(-70px);
  transition: 0.1s;
}
body #about .btn span {
  transform: translateX(-25px);
  transition: 0.05s;
}
body #about .btn:hover {
  width: 200px;
}
body #about .btn:hover img {
  transform: translateX(2px);
}
body #about .btn:hover span {
  transform: translateX(-5px);
}
body #about .skills {
  border: 2px solid #222222;
  transition: 0.1s;
}
body #about .skills img {
  width: 150px;
  padding: 10px 30px;
}
body #about .skills:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 40px -10px rgba(255, 2, 58, 0.3);
  background: #cbd5e1;
  backdrop-filter: blur(5px);
}
body .asset-wrapper {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
body .asset-wrapper .asset {
  transform: scale(2) rotate(3deg) translateX(150px);
  animation: scroll-fx linear;
}
@keyframes scroll-fx {
  to {
    transform: translateX(50px);
  }
}
body .card {
  overflow: hidden;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}
body .card:hover {
  transform: translateY(-20px);
  background-color: #222222;
  color: #fff;
}
body .card:hover .snap {
  border: 1px solid white;
}
body .card:hover .btn {
  border: 1px solid white;
}
body .card .btn {
  transition: 0.2s;
}
body .card .btn:hover {
  background-color: #fff;
  color: #222222;
}
body #contact input:focus,
body #contact textarea:focus {
  outline: 5px solid #222222;
  outline-offset: 5px;
  background-color: #cbd5e1;
}
body #footer .icon {
  transition: 0.2s;
}
body #footer .icon:hover {
  transform: scale(1.1);
  background-color: #3b3b3b;
  border: 1px solid #3b3b3b;
}
body .wrapper {
  opacity: 1;
  animation: fade-out linear forwards;
  animation-timeline: view();
  animation-range: cover;
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=index.css.map */
