@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.title {
  font-family: "Archivo Black";
}

nav {
  background-color: #fff;
  mask: linear-gradient(180deg,white 70%, white 10%, transparent, transparent);
  
  
  ul {
    gap: 10px;

      li {
        padding: 5px 20px;
        font-size: 20px;
        letter-spacing: 1px;
        border-radius: 5px;
        border: 2px solid transparent;
        color: #222222;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        transition: .1s ease-in-out;
        cursor: pointer;


        &:hover {
          color: #fff;
          background-color: #ff3562;
          border-color: #222222;
        }
      }
  }
}

.hero {
  p {
    font-weight: 200;
  }
  p span {
    color:#ff3562;
  }
  h1 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 800;
  }
}

#about {
  font-family: poppins;
  

  h1 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 800;
  }
  .bio {
    border: 2px solid #222222;
  }
  .btn {
    background-color: #222222;
    color: #fff;
    font-family: "Archivo Black";
    width: 150px;
    height: 50px;
    transition: .2s;

    img {
      transform: translateX(-70px);
      transition: .1s;
    }
    span {
      transform: translateX(-25px);
      transition: .05s;
    }

    &:hover {
      width: 200px;

      img {
        transform: translateX(2px);
      }
      span {
        transform: translateX(-5px);
      }
    }
  }
  
  .skills {
      border: 2px solid #222222;
      transition: .1s;
    img {
      width: 150px;
      padding: 10px 30px;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 0 40px -10px rgba(255,2,58,0.3);
      background: #cbd5e1;
      backdrop-filter: blur(5px);
    }
  }
}

.asset-wrapper {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

  .asset {
    transform: scale(2) rotate(3deg) translateX(150px);
    animation: scroll-fx linear;
  }
    @keyframes scroll-fx {
      to {
        transform: translateX(50px);
      }
}


}


.card {
  overflow: hidden;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.25);
  transition: .2s;



    &:hover {
      transform: translateY(-20px);
      background-color: #222222;
      color: #fff;
      
      .snap {
        border: 1px solid white;
      }

      .btn {
        border: 1px solid white;
      }
    }

  .btn {
    transition: .2s;

    &:hover {
        background-color: #fff;
        color: #222222;
      }
  }
  
}


#contact {
  input:focus, textarea:focus {
    outline: 5px solid #222222;
    outline-offset: 5px;
    background-color: #cbd5e1;
  }
}

#footer {
  .icon {
    transition: .2s;

    &:hover {
      transform: scale(1.1);
      background-color: #3b3b3b;
      border: 1px solid #3b3b3b;
    }
  }
}



.wrapper {
  opacity: 1;
  animation: fade-out linear forwards;
  animation-timeline: view();
  animation-range: cover;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}